@model WeShop.Web.Models.ListViewModel
@{
    Layout = "~/Views/List/_LayoutList.cshtml";
}
@section List{
    <!--分类页面-->
    <!--分类-->
    <ul>
        @foreach (var sort in Model.Sorts)
        {
            <a href="@Url.Action("Search", "List",new{ @sort.Code})"><li class="">@sort.Name</li></a>
        }
    </ul>
    <!--分类-->
    <!--分类页面-->
}
@section Product{
    <ul>
        @foreach (var item in Model.Products)
        {
            <li>
                <a class="imga" href="search_list.html"><img src="~/Content/images/img_012.jpg"></a>
                <a class="txta" href="search_list.html">
                    <span>云南特级冬虫夏草1</span>
                    <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                </a>
            </li>
        }
    </ul>
}