@model WeShop.EFModel.Notice
@{
    ViewBag.Title = "公告详情";
    Layout = "~/Views/_LayoutMaster.cshtml";
}
@section Style
{
    <style>
    .left {
        color: #000;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 14px;
        line-height: 40px;
        text-align: right;
        width: 18%;
    }
</style>
}
<!--ftop开始-->
<div class="ftop">
    <a class="left">&nbsp;</a>
    <h2>公告详情</h2>
    <a class="comea">&nbsp;</a>
    <div style="clear: both;"></div>
</div>
<!--ftop开始-->
<div class="notice noti">
    <div class="notice_xq">
        <h2><span>@Model.Title</span><i>@Model.ModiTime</i></h2>
        <div class="notice_text">
            @Model.Body
        </div>
    </div>
</div>

